<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="match">
            <h2><span>Match</span> {{ match.id }}</h2>
wtf
            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ match.name }}</span>
                </dd>
                <dt><span>Map</span></dt>
                <dd>
                    <span>{{ match.map }}</span>
                </dd>
                <dt><span>Match Date</span></dt>
                <dd>
                    <span>{{ match.matchDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/match', match.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
